# Python
env/
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
pip-log.txt
pip-delete-this-directory.txt
*.egg-info/
.eggs/
dist/
build/

# Arduino / ESP32
*.elf
*.bin
*.map
.vscode/
*.code-workspace

# IDE
.idea/
*.swp
*.swo
*~
.vs/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
*.tmp
